body {
    color: var(--color-text-light);
}

.app__navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 3rem 4rem;
}

.app__navbar-logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    /* Temp Logo */
    font-size: 3vh;
    font-family: var(--font-family-logo);
}

.app__navbar-logo img {  /* For when i have an img logo*/
    width: 150px;
}

.app__navbar-links {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    list-style: none;
}

.app__navbar-links li {
    margin: 0 1rem;
    cursor: pointer;
}

.app__navbar-links li:hover {
    /* HOVER ANIM - TEMP */
    color: var(--color-subtext);
}